ul,li,p{
  margin:0;
  padding:0;
}

body{
  background-color:#f0f4f7;
  justify-content:space-between;
  font-size:13px;
  font-family:sans-serif;
  display:flex;
  flex-direction:row;
  word-wrap:break-word;
}
.table{
  display:flex;
  width:75%;
  flex-direction:column;
}
.left-side-panel{
  padding-top:15px;
  color:white;
  min-height:700px;
  display:flex;
  width:20%;
  background-color:#23263c;
  justify-content:center;
}
nav{
  width:100%;
}
nav a{
  color:white;
  text-decoration:none;
}
li{
  padding:15px;
  list-style:none;
}
li:hover{
  background-color:#3b3f57;
  cursor:pointer;
}
.row{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  margin-bottom:10px;
}
.fields{
  width:20%;
  flex-grow:1;
}
.fields:nth-child(1){
  flex-basis:3%;
}
.fields:last-child{
  flex-basis:25%;
}
